* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fefefe;

  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  padding: 60px;
  background: #eee;
}

.calculator {
  width: 400px;
}

.display {
  width: 100%;
  font-size: 4rem;
  text-align: right;
}

.btn {
  width: 100%;
  height: 40px;
  font-size: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #eee;
  color: #2e3131;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #2e3131;
  color: #eee;
}
